@import "tailwindcss";
@tailwind utilities;

.Open {
    animation: showApp 250ms ease-out;
}

.Close {
    animation: hideApp 250ms ease-in;
}

.OpenMenu {
    animation: SlideAppShow 250ms ease-in forwards;
}

.CloseMenu {
    animation: SlideAppHide 250ms ease-out forwards;
}

.ScrollAnimation {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

.thin-scrollbar {
    scrollbar-width: thin;
}

.thin-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(0% 0% 100% 0%);
        scale: 0.8;
    }

    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
        scale: 1;
    }
}

@keyframes showApp {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hideApp {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes SlideAppShow {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes SlideAppHide {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}